* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {

    display: flex;
    flex-direction: column;

    margin-left: 50px;
    width: 200px;


}


input {

    width: 100%;
}

textarea {

    width: 100%;
}

button {

    background-color: rgb(98, 98, 209);

    color: white;
}

.kategori {
    display: block;

}

select {

    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px;
}


.menu{
margin: 50px;
list-style: none;
width: 100px;
position: relative;

background-color: aqua;
}

.subitems{
    list-style: none;
    display: none;

    background-color: red;
    position: absolute;
    width: 80px;
    top: 0%;
    left: 100%;


}

.menu:hover .subitems {

    display: block;
}
